name: Build Hub

on:
  push:
    branches:
      - 'main'
    tags:
      - '*'
  workflow_dispatch:

jobs:
  build:
    name: Build
    timeout-minutes: 20
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    strategy:
      matrix:
        edition:
          - name: community
            suffix: '-ce'
            images: ghcr.io/merqurio/distr-ce
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Generate commit hash
        id: hash
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Install frontend dependencies with pnpm
        run: pnpm install --frozen-lockfile

      - name: Build frontend
        run: pnpm run build:${{ matrix.edition.name }} --source-map=false

      - name: Generate SBOM for frontend project
        uses: anchore/sbom-action@v0.17.9
        with:
          file: pnpm-lock.yaml
          output-file: dist/frontend.spdx.json
          artifact-name: frontend${{ matrix.edition.suffix }}.spdx.json
          format: spdx-json
          upload-release-assets: false

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ matrix.edition.images }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=sha,format=long
          flavor: |
            latest=auto

      - name: Docker build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.hub.multiarch
          platforms: linux/amd64,linux/arm64
          push: true
          sbom: true
          provenance: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{ github.ref_name }}
            COMMIT=${{ steps.hash.outputs.sha_short }}
            EDITION=${{ matrix.edition.name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
